body{
	background-color: #557e7e;
}
p{
	width: 150px;
	padding: 20px;
	margin: 20px;
	color: #eeeeee;
	text-align: center;
}
#solid{
	border: solid;
}
#dotted{
	border: dotted;
}
#double{
	border: double;
}
#groove{
	border: groove;
}
#outset{
	border: outset;
}
#dashed{
	border: dashed;
}
#inset{
	border: inset;
}
#ridge{
	border: ridge;
}
