/*清空所有样式*/
* {
	margin:0px;
	padding:0px;
	border:0px;
	list-style-type: none;
}
/*顶部导航栏的背景色*/
#header {
	width: 100%
	height:40px;
	padding-left: 55px;
	padding-right: 55px;
	background-color:#333333;
}
#header_left {
	float: left;
}
#header_left ul {
	width: 400px;
	height:40px;
}
/*小米商城*/
#header_left ul li {
	float: left;
	height: 40px;
	line-height: 40px;
	padding-left:5px;
	padding-right:5px;
	font-size: 10px;
	color: white;
}
#header_right {
	float:right;
	width: 200px;
	height:40px;
}
#header_right ul li {
	float:left;
	height: 40px;
	line-height: 40px;
	padding-left:5px;
	padding-right:5px;
	font-size: 10px;
	/*color: white;*/
}
/*链接的样式*/
#header_left ul li a,#header_right ul li a {
	text-decoration: none;
	color: #B0B0B0;
}
#header_left ul li a:hover,#header_right ul li a:hover {
	color: white;
	font-weight: bold;
}
#shopping_cart_li {
	color: #B0B0B0;
}
#shopping_cart li {
	background-color: #424242;
}
#shopping_cart li:hover {
	color: #FF6700;
	font-weight: bold;
	background-color: white;
}
.clear {
	clear: both;
}
/*logo 所在行*/
#top {
	width: 1240px;
	height:100px;
	margin:0px auto;
	background-color: white;
}
#logo {
	float: left;
	width: 235px;
	height:53px;
	padding-top:23.5px;
	padding-bottom:23.5px;
	/*background-color: gray;*/
}
#top_nav {
	float: left;
	width: 660px;
	height: 53px;
	padding-top: 23.5px;
	padding-bottom:23.5px;
	/*background-color: green;*/
}
#top_nav ul {
	width: 660px;
	height: 53px;
	/*background-color: gray;*/
}
#top_nav ul li {
	float: left;
	height: 53px;
	line-height: 53px;
	padding-left: 10px;
	padding-right: 10px;
}
/*链接的样式*/
#top_nav ul li a {
	color:black;
	font-size: 16px;
	text-decoration: none;
}
#top_nav ul li a:hover {
	color:#FF6700;
}
/*搜索框*/
#inputs {
	float: left;
	width: 248px;
	height:50px;
	margin-top: 25px;
	margin-bottom: 25px;
	padding-left: 90px;
}
#searchs {
	width: 190px;
	height: 49px;
	text-align: right;
	border:1px solid #E0E0E0;
}
.v_align {
	vertical-align: middle;
}
#show {
	width: 1240px;
	height: 645px;
	margin:0px auto;
	background-color: white;
}
#left_side {
	float: left;
	width: 235px;
	height:420px;
}
#left_side ul {
	width: 235px;
	height: 420px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #172E36;
}
#left_side ul li {
	height: 42px;
	line-height: 42px;
	padding-left:35px;
	color:white;
	font-size: 15px;
}
#left_side ul li:hover {
	background-color: #FF6700;
}
#left_side ul a {
	text-decoration: none;
}
#big_show {
	float: left;
	width: 1005px;
	height: 460px;
	/*background-color: gray;*/
}
#big_show img {
	width: 995px;
	height: 460px;
}
/*小图片展示区*/
#pic_show {
	float: left;
	padding-top: 15px;
	width: 235px;
	height: 170px;
}
#small_show_main {
	float: left;
	width: 1005px;
	height:170px;
}
#small_show_main ul a li {
	padding-top: 15px;
	padding-left:15px;
	float: left;
}
#small_show_main ul a li img {
	width: 316px;
	height:170px;
}
/*单品区*/
#single {
	width: 1240px;
	height: 465px;
	margin: 0px auto;
	background-color: white;
}
#single_title {
	height: 85px;
	width: 1240px;
	margin:0px auto;
}
#left_right {
	padding-top: 50px;
	padding-right: 15px;
	float: right;
}
#show_single {
	width: 1240px;
	height: 340px;
	overflow: hidden;
}
#show_single ul {
	width: 1240px;
	height: 340px;
}
#show_single ul li {
	float: left;
	width: 233px;
	height: 309px;
	text-align: center;
	padding-top: 30px;
	background-color:#FAFAFA; 
	margin-right: 15px;
}
#show_single ul li img {
	width: 160px;
	height: 160px;
}
.single_a1 {
	font-size: 14px;
	color: black;
	text-decoration: none;
}
.single_p1,.single_p2,.single_p3 {
	text-align: center;
	line-height: 30px;
}
.single_p1 {
	padding-top: 10px;
}
.single_p2 {
	color: gray;
	font-size: 10px;
}
.single_p3 {
	color: #FF6700;
	padding-top: 10px;
	font-size: 13px;
}
.li_1 {
	border-top: 1px solid red;
}
.li_2 {
	border-top: 1px solid blue;
}
.li_3 {
	border-top: 1px solid green;
}
.li_4 {
	border-top: 1px solid #FF6700;
}
.li_5 {
	border-top: 1px solid #37B1A6;
}
/*家电区*/
/*灰色背景*/
#gray {
	width: 100%;
	padding-top: 40px;
	background-color: #F5F5F5;
}




/*家电标题区*/
#machine {
	width: 1240px;
	margin:0px auto;
}
#machine_title {
	width: 1240px;
	height: 80px;
}
#machine_title h2 {
	float:left;
}
#machine_title ul {
	float: right;
	height: 80px;
}
#machine_title ul li {
	float: left;
	height: 40px;
	padding-top: 40px;
	padding-right: 15px;
}
#machine_title ul li a {
	text-decoration: none;
	color: black;
	font-size: 20px;
}
#machine_title ul li a:hover {
	color:#FF6700;
	text-decoration: underline;

}
/*家电展示区*/
#machine_show {
	width: 1240px;
	height: 615px;
	/*background-color: green;*/
}
#row1 {
	width: 1240px;
	height: 300px;
}
#row2 {
	float: left;
	margin-top: 15px;
	width: 992px;
	height: 300px;
}
#row1 li,#row2 li {
	float: left;
	width: 233px;
	height: 270px;
	margin-right: 15px;
	background-color: white;
	text-align: center;
	padding-top: 30px;
}
#small_machine_show {
	float: left;
	margin-top: 15px;
	width: 233px;
	height: 300px;
	background-color: #F5F5F5;
}
#small_machine_show1,#small_machine_show2 {
	width: 233px;
	height: 142.5px;
	background-color: white;
}
#small_machine_show2 {
	margin-top: 15px;
}
#machine_show ul li img {
	width: 110px;
	height: 110px;
}
#pad_pic1 {
	background-image: url(images/machine1.png);
	background-repeat: no-repeat;
}
#pad_pic2 {
	background-repeat: no-repeat;
	background-image: url(images/machine6.png);
}
/*家电 文字美化*/
.macchine_show_p1,.macchine_show_p2,.macchine_show_p3 {
	text-align: center;
}
.macchine_show_p1 {
	padding-top: 20px;
	line-height: 20px;
	/*font-size: 12px;*/
}
.macchine_show_p2 {
	line-height: 20px;
	font-size: 10px;
	color: gray;
}
.macchine_show_p3 {
	line-height: 50px;
	font-size: 15px;
	color:#FF6700;
}
.macchine_show_p3 span {
	font-size: 15px;
	color: gray;
	text-decoration: line-through;
}
.macchine_show_p1 a {
	font-size: 12px;
	color: black;
	text-decoration: none;
}
/*第一个特殊小方块*/
.float_machine_pic img {
	width: 80px;
	height: 80px;
}
#specio_div,#specio_div2 {
	float: left;
	padding-top: 40px;
	padding-left: 30px;
}
.float_machine_pic,#float_machine_pic2 {
	float: right;
	padding-top: 50px;
	padding-right: 20px;
}
#specio_div_p a {
	text-decoration: none;
	color: black;
	font-size: 16px;
}
#specio_div_p span {
	font-size: 15px;
	color: #FF6700;
}
/*第二个特殊小方块*/
#specio_div_p2 a {
	text-decoration: none;
	color: black;
	font-size: 20px;
}
#specio_div_p2 span {
	font-size: 10px;
	color: gray;
}


/*热评产品*/
#hotproduct {
	/*background-color: yellow;*/
	width: 1240px;
	height: 500px;
	margin: 0px auto;
}
/*热评标题区*/
#hotproduct_title {
	width: 1240px;
	height: 80px;
	/*background-color: green;*/
}
/*热评商品展示*/
#hot_show {
	width: 1240px;
	height: 420px;
	/*background-color: green;*/
}
#hot_show ul {
	width: 1240px;
	height: 420px;
	/*background-color: blue;*/
}
#hot_show ul li {
	float: left;
	margin-right: 15px;
	width: 295px;
	height: 420px;
	background-color: white;
}
#hot_show ul li img {
	width: 296px;
	height: 220px;
}
#hot_show ul li p {
	padding-left: 20px;
	padding-right: 20px;
}
#hot_show ul li a {
	text-decoration: none;
	color: black;
}
#hot_show ul li p {
	font-size: 15px;
	color: #333333;
}
.small_gray {
	font-size: 10px;
	color: gray
}
.shuxian {
	color:gray;
}
.price {
	font-size: 20px;
	color:#FF6700;
}
/*内容区*/
#content {
	width: 1240px;
	height: 500px;
	margin:0px auto;
}
#content_title {
	width: 1240px;
	height: 80px;
}
#contnct_show {
	width: 1240px;
	height: 420px;
}
#content_show ul {
	width: 1240px;
	height: 420px;
}
#content_show ul li {
	float: left;
	text-align: center;
	margin-right: 15px;
	width: 295px;
	height: 420px;
	background-color: white;
}
#p11 {
	color: #FF6700;
}
#p12 {
	color: green;
}
#p13 {
	color: red;
}
#p14 {
	color: blue;
}
.p1,.p2,.p3,h3 {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.p1 {
	line-height: 30px;
}
.p2 {
	line-height: 15px;
	font-size: 8px;
	color:#B0B0B0; 
}
.p3 {
	line-height: 30px;
	font-size: 10px;
}
#content_li_1 {
	border-top: 1px solid red;
}
#content_li_2 {
	border-top: 1px solid green;
}
#content_li_3 {
	border-top: 1px solid blue;
}
#content_li_4 {
	border-top: 1px solid #FF6700;
}
/*视频区*/
#videos {
	width: 1240px;
	height: 365px;
	margin:0px auto;
	padding-bottom: 60px;
}
#videos_title {
	width: 1240px;
	height: 80px;
}
#videos_more {
	float: right;
	padding-top: 40px;
	margin-right: 15px;
}
#videos_more a {
	text-decoration: none;
	font-size: 17px;
}
#videos_more a:hover {
	color: #FF6700;
}
#videos_show {
	width: 1240px;
	height: 285px;
}
#videos_show ul {
	width: 1240px;
	height: 285px;
}
#videos_show ul li {
	float: left;
	width: 295px;
	height: 285px;
	margin-right: 15px;
}
.videos_p1,.videos_p2 {
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
}
.videos_p1 {
	line-height: 30px;
	font-size: 15px;
}
.videos_p1 a {
	color: black;
	text-decoration:none;
}
.videos_p1 a:hover {
	color:#FF6700;
}
.videos_p2 {
	line-height: 30px;
	color: #B0B0B0;
	font-size: 13px;
}
/*footer 导航区*/
#footer_white{
	background-color: white;
	margin:0px;
	padding:0px;
	width: 100%;
	height: 275px;
}
#footer_nav {
	/*padding:0px;*/
	width: 1240px;
	height: 80px;
	margin: 0px auto;
	/*background-color: green;*/
}
#footer_nav ul {
	width: 1240px;
	height: 80px;
}
#footer_nav ul li {
	float: left;
	width: 200px;
	height: 79px;
	line-height: 79px;
	padding-left: 45px;
	/*background-color: red;*/
	border-bottom: 1px solid #B0B0B0;
}
#footer_nav ul li a {
	color: #616161;
	font-family: "楷体";
	font-weight: normal;
	text-decoration: none;
	font-size: 22px;
}
#footer_nav ul li a:hover {
	color:#FF6700;
}
#dl_nav {
	width: 1240px;
	height: 195px;
	margin: 0px auto;
	/*background-color: green;*/
}
dl {
	float: left;
	width:130px;
	height: 195px;
	line-height: 30px;
	padding-left: 20px;
	/*background-color: red;*/
}
dl dt {
	line-height: 80px;
}
#dl_nav a {
	color: #757575;
	text-decoration: none;
}
#dl_nav a:hover {
	color: #FF6700;
}
#call {
	float: left;
	width:320px; 
	height:195px;
	/*background-color: yellow;*/
	border-left: 1px solid gray;
}
#phone,#worktime,#spicio {
	text-align: center;
}
#phone {
	padding-top: 20px;
	padding-left: 20px;
	font-size: 25px;
	color: #FF6700;
}
#worktime {
	font-size: 15px;
	padding-top: 10px;
	padding-left: 25px;
	color: #757575;
}
#speico {
	width: 150px;
	height:30px;
	line-height: 30px;
	padding-left: 40px;
	margin-top: 20px;
	margin-left: 80px;
	color: #FF6700;
	border:1px solid #FF6700;
}
#speico:hover {
	background-color: #FF6700;
	color: white;
	font-weight: bold;
}
#footer_gray {
	width: 100%;
	height: 165px;
	background-color: #FAFAFA;
}
#footers {
	width: 1240px;
	height: 145px;
	margin:0px auto;
	padding-top: 20px;
}
#footer_logo {
	float: left;
	width:55px;
	height: 53px;
	padding-left: 30px;
	padding-right: 10px;
}
#footer_detail {
	float: left;
	width: 600px;
	height: 53px;
}
#detail_p1,#detail_p2,#detail_p3 {
	font-size: 8px;
	color: #B0B0B0;
}
#detail_p1 a {
	text-decoration: none;
	color: #757575;
}
#detail_p1 a:hover {
	color: #FF6B00;
}
#detail_p2 a {
	text-decoration: none;
	color:#B0B0B0;
}
#detail_p2 a:hover {
	color: #FF6B00;
}
#pic_link {
	margin-right: 15px;
	margin-top: 15px;
	float: right;
}
#slogan {
	width: 1240px;
	margin:0px auto;
}
#slogan p {
	margin-top: 100px;
	font-size: 25px;
	font-family: "宋体";
	color: #BABABA;
	text-align: center;
}
#pic_link img {
	width: 85px;
	height: 28px;
}
h2 {
	float: left;
	font-family: "宋体";
	font-weight: normal;
	font-size: 25px;
	padding-top: 40px;
	color: #333333;
}